<h3>
  Plant Shop
  <small class="text-muted">Find your quarantine friend</small>
</h3>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>description</th>
      <th>price</th>
      <th>variegation</th>
      <th>rare</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of plants" (click)="rowClick(p.id)">
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.price }}</td>
      <td>
        <span *ngIf="p.variegation">🔲</span>
      </td>
      <td>
        <span *ngIf="p.rare">✅</span>
      </td>
      <td>
        <img [src]="p.image"/>
      </td>
    </tr>
    <tr *ngIf="error">
      <td rowspan="7">{{ error }}</td>
    </tr>
  </tbody>
</table>
<p class="text-primary" *ngIf="!error">
  Total inventory value: ${{ totalValue }}
</p>

<a class="btn btn-primary" routerLink="create">Add a Plant</a>
