<p>plant-list works!</p>

<table>
  <thead>
    <tr>
      <td>id</td>
      <td>name</td>
      <td>description</td>
      <td>price</td>
      <td>variegation</td>
      <td>rare</td>
      <td>image</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of plants" (click)='rowClick(p.id)'>
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.description}}</td>
      <td>{{p.price}}</td>
      <td>
        <span *ngIf="p.variegation">🔲</span>
      </td>
      <td>
        <span *ngIf="p.rare">✅</span>
      </td>
      <td>
        <img [src]="p.image"/>
      </td>
    </tr>
    <tr *ngIf="error">
      <td rowspan='7'>{{error}}</td>
    </tr>

  </tbody>

</table>
<p *ngIf='!error'>Total inventory value: ${{totalValue}}</p>
